// FONT
$h1: 3rem;
$h2: 1rem;
$h3: 0.875rem;
$h4: 0.75rem;
$h5: 0.625rem;
$h6: 0.5rem;

// COLOR
$primaryBlue: #1885ea;
$secondaryBlue: #e2eef9;
$primaryWhite: #fcfcfc;
$primaryGray: #777777;
$secondaryGray: #ebebeb;
$red: #ff5454;
$black: #181818;

// UTILS
$rounded-md: 10px;
